.path-mod-assign div.gradingnavigation div {
    float: left;
    margin-left: 2em;
}

.path-mod-assign div.submissionstatustable,
.path-mod-assign div.submissionfull,
.path-mod-assign div.submissionlinks,
.path-mod-assign div.usersummary,
.path-mod-assign div.feedback,
.path-mod-assign div.gradingsummary {
    margin-bottom: 5em;
}

.path-mod-assign div.submissionstatus .generaltable,
.path-mod-assign div.submissionlinks .generaltable,
.path-mod-assign div.feedback .generaltable,
.path-mod-assign div.submissionsummarytable .generaltable,
.path-mod-assign div.attempthistory table,
.path-mod-assign div.gradingsummary .generaltable {
    width: 100%;
}

.path-mod-assign table.generaltable table td {
    border: 0px none;
}

.path-mod-assign .gradingsummarytable,
.path-mod-assign .feedbacktable,
.path-mod-assign .lockedsubmission,
.path-mod-assign .submissionsummarytable {
    margin-top: 1em;
}

.path-mod-assign div.submissionsummarytable table tbody tr td.c0 {
    width: 30%;
}

.path-mod-assign .submittedlate {
    color: red;
    font-weight: 900;
}

.path-mod-assign.jsenabled .gradingoptionsform .fsubmit {
    display: none;
}

.path-mod-assign.jsenabled .gradingtable .c1 select {
    display: none;
}

.path-mod-assign .quickgradingform .mform fieldset {
    margin: 0px;
    padding: 0px;
}

.path-mod-assign .gradingbatchoperationsform .mform fieldset {
    margin: 0px;
    padding: 0px;
}

.path-mod-assign td.submissionstatus,
.path-mod-assign div.submissionstatus,
.path-mod-assign a:link.submissionstatus {
    color: black;
    background-color: #efefef;
}

.path-mod-assign td.submissionstatusdraft,
.path-mod-assign div.submissionstatusdraft,
.path-mod-assign a:link.submissionstatusdraft {
    color: black;
    background-color: #efefcf;
}

.path-mod-assign td.submissionstatussubmitted,
.path-mod-assign div.submissionstatussubmitted,
.path-mod-assign a:link.submissionstatussubmitted {
    color: black;
    background-color: #cfefcf;
}


.path-mod-assign td.submissionlocked,
.path-mod-assign div.submissionlocked {
    color: black;
    background-color: #efefcf;
}

.path-mod-assign td.submissionreopened,
.path-mod-assign div.submissionreopened {
    color: black;
    background-color: #efefef;
}

.path-mod-assign td.submissiongraded,
.path-mod-assign div.submissiongraded {
    color: black;
    background-color: #cfefcf;
}

.path-mod-assign td.submissionnotgraded,
.path-mod-assign div.submissionnotgraded {
    color: black;
    background-color: #efefef;
}

.path-mod-assign td.latesubmission,
.path-mod-assign a:link.latesubmission,
.path-mod-assign div.latesubmission {
    color: black;
    background-color: #efcfcf;
}

.path-mod-assign td.earlysubmission,
.path-mod-assign div.earlysubmission {
    color: black;
    background-color: #cfefcf;
}

.path-mod-assign .gradingtable .c0 {
    display: none;
}

.path-mod-assign.jsenabled .gradingtable .c0 {
    display: table-cell;
}

.path-mod-assign .gradingbatchoperationsform {
    display: none;
}

.path-mod-assign.jsenabled .gradingbatchoperationsform {
    display: block;
}

.path-mod-assign .gradingtable tr.selectedrow td {
    background-color: #ffeecc;
}

.path-mod-assign .gradingtable tr.unselectedrow td {
    background-color: white;
}

.path-mod-assign .gradingtable .c0 div.selectall {
    margin-left: 7px;
}

.path-mod-assign .gradingtable .yui3-menu ul {
    margin: 0px;
}

.path-mod-assign .gradingtable .yui3-menu-label {
    padding-left: 0px;
    line-height: 12px;
}

.path-mod-assign .gradingtable .yui3-menu-label img {
    padding: 0 3px;
}

.path-mod-assign .gradingtable .yui3-menu li {
    list-style-type: none;
}

.path-mod-assign.jsenabled .gradingtable .yui3-loading {
    display: none;
}

.path-mod-assign .gradingtable .yui3-menu .yui3-menu-content {
    border: 0px;
    padding-top: 0;
}

.path-mod-assign div.gradingtable tr .quickgrademodified {
    background-color: #FFCC99;
}

.path-mod-assign td.submissioneditable {
    color: red;
}

.path-mod-assign .expandsummaryicon {
    cursor: pointer;
    display: none;
}

.path-mod-assign.jsenabled .expandsummaryicon {
    display: inline;
}

.path-mod-assign .hidefull {
    display: none;
}

.path-mod-assign .quickgradingform form .commentscontainer input,
.path-mod-assign .quickgradingform form .commentscontainer textarea {
    display: none;
}

.path-mod-assign.jsenabled .quickgradingform form .commentscontainer input,
.path-mod-assign.jsenabled .quickgradingform form .commentscontainer textarea {
    display: inline;
}

.path-mod-assign .previousfeedbackwarning {
    font-size: 140%;
    font-weight: bold;
    text-align: center;
    color: #500;
}

.path-mod-assign .submissionhistory {
    background-color: #b0b0b0;
}

.path-mod-assign .submissionhistory .cell.historytitle {
    background-color: #808080;
}

.path-mod-assign .submissionhistory .cell {
    background-color: #d0d0d0;
}

.path-mod-assign .submissionhistory .singlebutton {
    display: inline-block;
    float: right;
}

.path-mod-assign.dir-rtl .submissionhistory .singlebutton {
    float: left;
}

.path-mod-assign .submissionsummarytable .singlebutton {
    display: inline-block;
}

.path-mod-assign.jsenabled .mod-assign-history-link {
    display: block;
    cursor: pointer;
    margin-bottom: 7px;
}

.path-mod-assign.jsenabled .mod-assign-history-link h4 {
    display: inline;
}

.path-mod-assign.jsenabled .attempthistory h4 {
    margin-bottom: 7px;
    text-align: left;
}

.path-mod-assign.jsenabled.dir_rtl .attempthistory h4 {
    text-align: right;
}

.path-mod-assign.dir-rtl.jsenabled .mod-assign-history-link h4 {
    text-align: right;
}

.path-mod-assign.jsenabled .mod-assign-history-link-open {
    padding: 0 5px 0 20px; background: url([[pix:t/expanded]]) 2px center no-repeat;
}

.path-mod-assign.jsenabled .mod-assign-history-link-closed {
    padding: 0 5px 0 20px; background: url([[pix:t/collapsed]]) 2px center no-repeat;
}

.path-mod-assign.dir-rtl.jsenabled .mod-assign-history-link-closed {
    padding: 0 20px 0 5px; background: url([[pix:t/collapsed_rtl]]) 2px center no-repeat;
}

.path-mod-assign .submithelp {
    padding: 1em;
}

.path-mod-assign .feedbacktitle {
    font-weight: bold;
}

.path-mod-assign .submitconfirm,
.path-mod-assign .submissionlinks,
.path-mod-assign .submissionaction {
    text-align: center;
}

.path-mod-assign .submissionsummarytable .c0,
.path-mod-assign .mod-assign-history-panel .c0 {
    width: 150px;
}

.path-mod-assign .gradingtable .moodle-actionmenu {
    white-space: nowrap;
}

.path-mod-assign .gradingtable .moodle-actionmenu[data-enhanced].show .menu a {
    padding-left: 12px;
    padding-right: 12px;
}

.path-mod-assign .gradingtable .menu-action img {
    display: none;
}

.path-mod-assign .editsubmissionform input[name="submissionstatement"] {
    vertical-align: top;
}
.path-mod-assign .editsubmissionform label[for="id_submissionstatement"] {
    display: inline-block;
}

/* Custom styles */
.assigntitle, 
.quickcomment,
#path-mod-assign-view .yui3-menu-label
{
	font-weight:bold;
	color: #666;
	border-bottom: 1px solid #eee;
	margin: 5px 0;
	padding-top:3px;
}

#path-mod-assign-view .flexible th.header.c5
{
    min-width: 50px !important; /* RT - TODO: there should be better way than to force this */
	
}

#path-mod-assign-view .flexible td.ygtvcontent
{
	white-space:nowrap;	
}

/* assign */
.submissionlinks img:hover
{
	background:transparent;
	border: none;
}

.userpicture
{
 padding-right: 5px;
}

.useridnumber
{
	font-size: 8pt;
	font-style: italic;
}

#path-mod-assignment-submissions .flexible th,
#path-mod-assign-view .flexible th,
#participants.flexible th
{
	white-space:normal;
}

#path-mod-assign-view .flexible
{
	font-size:0.9em;
}

/* fullname */
#path-mod-assign-view .flexible th.header.c1
{
	min-width:130px;
}

#path-mod-assign-view .flexible th.header.c2
{
	min-width:200px;
	max-width:400px;
}

/* Feedback */
#path-mod-assign-view .flexible th.header.c4 /*may change col*/
{
	min-width:200px;
}

#path-mod-assign-view .flexible tr.ygtvrow
{
	/*white-space:nowrap;*/
}

#path-mod-assign-view .flexible tr.ygtvrow a
{
	white-space:normal;
}

#id_grade
{
	width:80px;
}



#path-mod-assign-view textarea.quickgrade
{
	font-size:10pt;
	margin:0;
	height:55px;
}

#path-mod-assign-view input.quickgrade
{
	width: 40px;
	padding: 2px;
	border: 1px solid #3AA040;
	font-size:10pt;
}

#path-mod-assign-view input.quickgrade:hover, #path-mod-assign-view input.quickgrade:focus,
#path-mod-assign-view textarea.quickgrade:hover, #path-mod-assign-view textarea.quickgrade:focus
{
	border: 1px solid #FF9C1F;
	box-shadow:1px 1px 3px #aaa;
	-moz-box-shadow:1px 1px 3px #aaa;
	-webkit-box-shadow:1px 1px 3px #aaa;
}

.submissiondate
{
	font-size:8pt;
	font-style:italic;
	text-align:right;
	margin: 5px 1px 0px 10px;
	padding: 2px 7px;
	background: #EFEFEF;
	border: 1px solid #ddd;
}

.quickcomment
{
	margin: 7px 0 3px 0;
	font-size:9pt;
}

.hrbreak
{
	border: 0;
	height: 1px;
	background: #ddd;
}

#path-mod-assign-view .menuicon
{
	width:100px;
}

#path-mod-assign-view .menuicon .yui3-menuitem
{
	background: #B2E0E4;
}

.usersummary
{
	border: 1px solid #ddd;
	padding: 5px;
	max-width:400px;
	height: 35px;
	background:#EFEFCF;
	margin:15px 0 20px 0 !important;
}

#path-mod-assign-popup #page
{
	 padding: 20px;
	 margin:0;
	 background:#fff;
}

/* Don't show Back button here */
#path-mod-assign-popup #page div.singlebutton input[type="submit"]
{
	display:none;
}

#path-mod-assign-popup .submissionfull
{
	padding: 10px 30px;
	border: 1px solid #eee;
}


span#id_error_grade,
span#id_error_phone2x,
#path-mod-assign-view span.error,
.grade_err_highlight
{
	background: #F03D25;
	border: 1px solid #C0311E;
	color: #fff;
	padding: 1px 10px;
	line-height: 200%;
}

#path-mod-assign-view div.gradingtable tr .quickgradeerror,
#path-mod-assign-view .notifyproblem,
#page-grade-grading-manage .notifyproblem,
#page-grade-grading-form-rubric-edit .error
{
	background-color: #FFBABA;
	border: 1px solid #C0311E;
	padding: 3px;
}

#path-mod-assign-view .submithelp
 {
	border: 1px solid #ddd;
	padding: 3px 15px;
	margin: 5px 10px;
	width:70%;
	background:#DFF0D8;
	
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

#notice
{
	border: 1px solid #E2C822;
	padding: 5px 15px;
	margin:0 10%;

	background:#FFF9D7;
}

#path-mod-assign-view .singlebutton
{
	padding: 3px 25%;
	text-align:left;
}

.mgtotalscore
{
	text-align:right;
	padding: 3px 20px;
	border-bottom:2px solid #ccc;
	font-weight:bold;
	font-size: 1.1em;
}

div.grademark
{
	float:left;
	margin: 0px 5px;
}

#path-mod-assign-view .flexible td.ygtvcontent
{
	max-width:380px;
	white-space: normal;
	word-break:break-all;
}

#path-mod-assign-view .notifyproblem,
#path-mod-assign-view .notifysuccess
{
	white-space: normal;
	text-align:left;
	padding: 2px;
	font-size:1em;
}

#path-mod-assign-view .notifysuccess
{
	padding-left: 30px;
}

.jsenabled .moodle-actionmenu[data-enhance] .toggle-display.textmenu
{
	padding-left:0!important;
	margin-left:0!important;
}

#path-mod-assign-view .c3 img
{
	padding-right: 5px;
}

/* Submission status colours */
.gradingstatus 
{
	padding-top:10px;
}
